<h1>New category</h1>
<%= form_for @category do |f| %>
  <%= f.label :name, "Nome" %>
  <%= f.text_field :name %> <br>

  <%= f.label :opening_balance, "Saldo inicial" %>
  <%= f.text_field :opening_balance, step: 2 %>

  <%= f.submit "Criar categoria" %>
<% end %>